@{
    ViewBag.Title = "Home Page";
}
<div>
    <ul class="nav nav-pills">
        <li role="list" ng-class="{active: PAGE === 'all'}"><a href="#/candidats">All Candidats</a></li>
        <li role="form"ng-class="{active: PAGE === 'add'}"><a href="#/candidat/add">New Candidat</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    <div class="row" ng-cloak>
        <div class="col-sm-12" ng-view>

        </div>
    </div>
</div>