@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/app/candidatApp.js"></script>
<script src="~/Scripts/app/candidatController.js"></script>
<script src="~/Scripts/app/resources.js"></script>
<script src="~/Scripts/app/filters.js"></script>
<script src="~/Scripts/app/directives.js"></script>
<div ng-app="candidatApp">
    <ul class="nav nav-pills">
        <li role="list" ng-class="{active: PAGE === 'all'}"><a href="#/candidats">All Candidats</a></li>
        <li role="form"ng-class="{active: PAGE === 'add'}"><a href="#/candidat/add">New Candidat</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    <div class="row" ng-cloak style="margin-top:50px">
        <div class="col-sm-12" ng-view>

        </div>
    </div>
</div>